@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}





@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* globals.css */
#PamonaAve1676:hover,
#PamonaAve1664:hover,
#PamonaAve1666:hover,
#PamonaAve1668:hover,
#PamonaAve1670:hover,
#PamonaAve1672:hover,
#PamonaAve1674:hover {
  fill: lightblue;
  transition: fill 0.3s;
  cursor: pointer;
}

